@import "../../../colors";

$height: 462px;
$animationSpeed: 400ms;
$imageHeight:343px;
.Card {
  color: black;
  fill: black;
  height: $height;
  width: 334px;
  margin-bottom: 20px;
  transition: height 400ms ease-in-out;
  filter: brightness(100%);
}

.CardImage {
  object-fit: cover;
  width: 100%;
  height: $imageHeight;
  transition: height 400ms linear;
}

.Card:hover {
  cursor: pointer;
  filter: brightness(85%);
  -webkit-transition: all $animationSpeed ease;
  -moz-transition: all $animationSpeed ease;
    -o-transition: all $animationSpeed ease;
    -ms-transition: all $animationSpeed ease;
    transition: all $animationSpeed ease;
  .CardImage {
   
  }
}

.CardText {
    opacity: 100;
    transition: opacity 400ms ease-in-out;
    font-size: x-large;
}

.CardBody{
  text-align: start;
}

.center {
    width:100%;
    display: flex;
    justify-content: center;
    margin: 32px;
}

.Page {
  background-color: $background-gray;
  height: 100vh;
}
