@import "../../../colors";

.Page {
  background-color: $background-gray;
}

.SocialIcons {
  display: flex;
  justify-content: center;
}

img {
  width: 100%;
  height: 100%;
}

.Slogan {
  margin-top: 10%;
  left: 100%;
}

body {
  height: calc(100vh - 8em);
  padding: 4em;
  color: rgba(255, 255, 255, 0.75);
  font-family: "monospace";
  background-color: rgb(25, 25, 25);
}

.line1 {
  position: relative;
  top: 50%;
  width: 10.5em;
  margin: 0 auto;
  border-right: 2px solid transparent;
  font-size: 130%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

/*Animation*/

.anim-typewriter1 {
  animation: typewriter1 3s steps(40) 2.6s 1 normal both,
    blinkTextCursor1 500ms steps(40) 2.6s infinite normal;
}

@keyframes typewriter1 {
  from {
    width: 0;
  }
  to {
    width: 10.5em;
  }
}

@keyframes blinkTextCursor1 {
  from {
    border-right-color: transparent;
  }
  to {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
}

.SloganBody {
}

.line2 {
  position: relative;
  top: 50%;
  width: 7.5em;
  margin: 0 auto;
  border-right: 2px solid transparent;
  font-size: 130%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

/*Animation*/

.anim-typewriter2 {
  animation: typewriter2 1s steps(40) 1s 1 normal both,
    blinkTextCursor2 500ms steps(40) normal 5;
}

@keyframes typewriter2 {
  from {
    width: 0;
  }
  to {
    width: 7.5em;
  }
}

@keyframes blinkTextCursor2 {
  from {
    border-right-color: transparent;
  }
  to {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
}
